footer {
    margin-top: 6rem;

    .footer_ubicacion {

        h2 {
            padding-left: 1rem;
            margin-bottom: 1rem;
        }

        &_contacto,
        &_rutas {
            background-color: $mid-blue;
            width: 80%;
            margin: 0 10%;
            padding: 1rem 0.5rem;
            display: flex;
            flex-flow: column nowrap;
            align-content: center;
            position: relative;

            h3 {
                font-size: 2rem;
            }

            h3,
            p {
                background-color: $mid-blue;
                text-align: center;
                margin-bottom: 1rem;

                svg {
                    background: none;
                }
            }

            a {                
                color: $background;                
            }
        }

        &_mapa {
            height: 60vh;
            width: 100%;
            z-index: +1;
        }

        &_rutas {

            ul {
                background-color: $mid-blue;
                margin-top: 2rem;

                li,
                span {
                    background-color: $mid-blue;
                    height: 3rem;
                    text-align: center;

                    svg {
                        background: none;
                    }

                    button {
                        background-color: $mid-blue;
                    }

                    a {
                        padding: 0;
                        background-color: $mid-blue;
                        color: $fonts;
                        font-size: 1rem;
                    }
                }

                li {
                    display: flex;
                    justify-content: center;
                    border: 0;
                    width: 100%;

                    span:last-child {
                        width: 80%;
                    }
                }
            }
        }
    }

    .footer_separador {
        background: #254B5E;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        height: 0.3rem;
        width: 50%;
        margin: 1.5rem 25%;
    }

    .footer_logo {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        p {
            font-family: 'Satisfy', cursive;
            font-size: 1.1rem;
            color: #02B8E0;
        }

        p:last-child {
            font-family: 'Poppins', sans-serif;
            font-size: 0.5rem;
            font-weight: 300;
            color: #0B95D6;
            margin-top: -0.5rem;
        }
    }

    .footer_redes {

        &_list {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;
            margin: 1rem;
        }
    }
}

@media (min-width: $sc-mid) {
    footer {
        margin-top: 20%;        

        .footer_ubicacion {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 15vh 60vh 30vh;
            grid-template-areas: 
            "titulo mapa"
            "contacto mapa"
            "rutas rutas";
            
            h2 {
                grid-area: titulo;
                padding: 2rem 0 0 5rem;
            }

            &_contacto {
                grid-area: contacto;
                height: min-content;
                margin: 0 0 2rem 30%;
                z-index: +1;
            }

            &_mapa {
                grid-area: mapa;
                width: 100%;
                height: 75vh;
                //border: 1px solid black;
                z-index: 0;
            }

            &_rutas {
                grid-area: rutas;
                width: 100%;
                height: 100%;
                margin: 0;

                ul {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    height: 100%;
                    justify-items: center;                    

                    li {
                        height: 2rem;
                        padding-top: 0.5rem;
                        width: 100%;
                        
                        span {
                            height: 100%;

                            button {
                                font-size: 1.5rem;
                            }

                            svg {
                                height: 100%;
                                width: 100%;
                            }
                        }

                        span:last-child {
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
}