<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pepe</title>
</head>

<body class="home">
    <header>
        <nav class="nav">
            <div class="nav_logo">
                <img src="" alt="logo">
            </div>
            <div class="nav_menu">
                <ul class="menu_list">
                    <li class="list_item">
                        <a href="">Home</a>
                    </li>
                    <li class="list_item">
                        <a href="">Bungalows</a>
                    </li>
                    <li class="list_item">
                        <a href="">Actividades</a>
                    </li>
                    <li class="list_item">
                        <a href="">Contacto</a>
                    </li>
                    <li class="list_item">
                        <a href="">Predio</a>
                    </li>
                    <li class="list_item">
                        <a href="">Inmuebles</a>
                    </li>
                    <li class="list_item">
                        <a href="">Reservas</a>
                    </li>
                </ul>
            </div>
            <div class="nav_button">
                <button id="nav_toggle">toggle</button>
            </div>
        </nav>
    </header>
    <main class="home_main">
        <div class="reservas">
            <button id="reservas">Reservar</button>
        </div>
        <div class="home_main_titulo">
            <img src="" alt="Termas y Bungalows">
            <img src="" alt="Lujo natural descanso asegurado">
        </div>
        <div class="home_main_bungalows">
            <h2>Bungalows</h2>
            <div class="home_main_bungalows_reservas">
                <h3>blabal</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere et ipsam dolore earum sed nostrum
                    quasi tempore adipisci voluptas molestiae, odio esse id excepturi rerum perferendis laboriosam ex
                    deleniti quam.
                </p>
                <a href="./bungalows.html">Reservar</a>
            </div>
            <div class="home_main_bungalows_carrousel">
                <div class="home_carrousel_list">
                    <div class="home_carrousel_list_item">
                        <img src="" alt="">
                        <h3>nombre</h3>
                    </div>
                    <div class="home_carrousel_list_item">
                        <img src="" alt="">
                        <h3>nombre</h3>
                    </div>
                    <div class="home_carrousel_list_item">
                        <img src="" alt="">
                        <h3>nombre</h3>
                    </div>
                    <div class="home_carrousel_list_item">
                        <img src="" alt="">
                        <h3>nombre</h3>
                    </div>
                    <div class="home_carrousel_list_item">
                        <img src="" alt="">
                        <h3>nombre</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="home_main_predio">
            <h2>Predio</h2>
            <h3>Termas Basavilbaso</h3>
            <div class="home_main_predio_imagenes">
                <div class="predio_imagen">
                    <img src="" alt="">
                </div>
                <div class="predio_imagen">
                    <img src="" alt="">
                </div>
                <div class="predio_imagen">
                    <img src="" alt="">
                </div>
            </div>
            <div class="home_main_predio_desc">
                <div class="predio_desc">
                    <h3>Acerca del predio</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore magni rerum quia facere,
                        recusandae aliquam iusto dignissimos corrupti ducimus facilis suscipit sapiente nemo sunt
                        accusamus ipsum itaque provident omnis eos?
                    </p>
                    <a href="">Conocer más</a>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer_ubicacion">
            <h2>Ubicación</h2>
            <div class="home_main_ubicacion_contacto">
                <h3>Contacto</h3>
                <p>direccion lsdasd 449615</p>
                <p>telefono 4161. Email sdouasdo@ohasod.com</p>
                <a href="./contacto.html">Contactanos</a>
            </div>
            <div class="home_main_ubicacion_mapa">
                <!-- <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3369.2982913704036!2d-58.90117882517629!3d-32.38436474371012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b1b218b1e06aa1%3A0x80055ce589987b6c!2sTermas%20de%20Basavilbaso%20S.A.!5e0!3m2!1ses!2sar!4v1692570395339!5m2!1ses!2sar"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe> -->
            </div>
            <div class="home_main_ubicacion_rutas">
                <h3>Como llegar</h3>
                <ul>
                    <li>
                        <span><img src="" alt=""></span>
                        <span>Rosario</span>
                    </li>
                    <li>
                        <span><img src="" alt=""></span>
                        <span>Buenos Aires</span>
                    </li>
                    <li>
                        <span><img src="" alt=""></span>
                        <span>Montevideo</span>
                    </li>
                    <li>
                        <span><img src="" alt=""></span>
                        <span>Córdoba</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer_separador"><img src="" alt="separador"></div>
        <div class="footer_logo">
            <img src="" alt="logo">
        </div>
        <div class="footer_redes">
            <ul class="footer_redes_list">
                <li class="footer_redes_list_item"><a href="">Instagram</a></li>
                <li class="footer_redes_list_item"><a href="">Facebook</a></li>
                <li class="footer_redes_list_item"><a href="">Whatsapp</a></li>
            </ul>
        </div>
        <div class="footer_devs">
            <span>empresa</span>
            <span><img src="" alt="logo empresa"></span>
        </div>
    </footer>
</body>
</html>