.actividades_main {
    position: relative;
    top: 10vh;

    &_titulo {
        width: 100%;
        height: 40vh;
        background-image: url(../assets/predio1.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        
        h1 {
            font-style: italic;
            font-size: 2.5rem;
            font-weight: bold;
            background: none;
            -webkit-text-stroke: 1px $dark-blue;
            color: $background;
            padding: 10% 0 0 5%;
        }
    }

    &_list {

        &_actividad {
            width: 90%;
            margin: 5%;
            text-align: center;

            .actividad_desc {
                h2 {
                    color: $dark-blue;
                    font-size: 2.5rem;
                }

                h3 {
                    margin: 1rem;
                    font-size: 1.5rem;
                }

                p {
                    margin-bottom: 1rem;
                }
            }

            .actividad_imagen {
                width: 100%;
                overflow: hidden;
                height: 50vh;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }


}

@media (min-width: $sc-mid) {
    .actividades_main {

        &_list {
            width: 90%;
            display: flex;
            flex-flow: row wrap;
            margin: 10% 5%;

            &_actividad {
                display: flex;
                flex-flow: row nowrap;
                width: 50%;
                margin: 0;

                .actividad_desc {
                    width: 100%;
                }

                .actividad_imagen {
                    width: 100%;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            &_actividad.invertido {
                flex-direction: row-reverse;
            }
        }
    }
}
@media (min-width: $sc-xl) {
    .actividades_main {
        width: 80%;
        margin: 0 10%;

        &_list {
            width: 100%;
            margin: 5% 0;
        }
    }
}