.bungalows_main {
    position: relative;
    top: 10vh;

    &_titulo {
        width: 100%;
        height: 40vh;
        background-image: url(../assets/predio1.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;        

        h1 {
            font-style: italic;
            font-size: 2.5rem;
            font-weight: bold;
            background: none;
            -webkit-text-stroke: 1px $dark-blue;
            color: $background;
            padding: 10% 0 0 5%;
        }
    }

    &_filtro {
        width: 100%;
        text-align: center;
        margin: 2rem 0;

        div,
        form,
        h2 {
            background-color: $mid-blue;
        }

        form {
            padding-top: 1rem;
        }

        label,
        input,
        button {
            margin: 1rem 0;
            padding: 0.5rem;
            background-color: $dark-blue;
            color: $background;
        }

        button {
            width: min-content;
        }
    }

    &_list {

        &_bungalow {
            padding: 2rem 1rem;

            h2 {
                margin: 1rem 0;
            }

            &_imagenes {
                width: 95%;
                height: 50vh;
                margin: 1rem 2.5%;
                background-color: white;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 50% 1fr;
                gap: 0.5rem;
                overflow: hidden;
                padding: 0.5rem;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center center;
                }
            }

            a {
                color: $background;
                width: 60%;
                display: block;
                margin: 3rem 27.5% 0 2.5%;
            }
        }

        &_bungalow.par {
            background-color: $ligth-blue;

            .bungalows_main_list_bungalow_info {
                background-color: $ligth-blue;

                h2,
                p {
                    background-color: $ligth-blue;
                }
            }


        }
    }
}

@media (min-width: $sc-mid) {

    .bungalows_main {

        &_filtro {
            width: 70%;
            text-align: center;
            margin: 2rem 15%;
        }

        &_list_bungalow.par {
            padding: 0;
            display: grid;
            grid-template-columns: 55% 45%;
            grid-template-rows: 15vh 40vh 20vh;
            grid-template-areas:
                "titulo imagen"
                "p imagen"
                "btn imagen";

            h2 {
                grid-area: titulo;
                padding: 2rem 0 0 2rem;
            }

            p {
                grid-area: p;
                padding: 2rem;
            }

            a {
                grid-area: btn;
                margin: 0 0 0 2rem;
            }

            &_imagenes {
                grid-area: imagen;
                height: 100%;
                margin: 0;
                width: 100%;
            }
        }

        &_list_bungalow {
            padding: 0;
            display: grid;
            grid-template-columns: 45% 55%;
            grid-template-rows: 15vh 40vh 20vh;
            grid-template-areas:
                "imagen titulo"
                "imagen p"
                "imagen btn";
            align-content: center;

            h2 {
                grid-area: titulo;
                padding: 2rem 0 0 2rem;
            }

            p {
                grid-area: p;
                padding: 2rem;
            }

            a {
                grid-area: btn;
                margin: 0 0 0 2rem;
            }

            &_imagenes {
                grid-area: imagen;
                height: 100%;
                margin: 0;
                width: 100%;
            }
        }
    }
}

@media (min-width: $sc-xl) {
    .bungalows_main {
        width: 80%;
        margin: 0 10%;
    }
}