//Configuraciones generales
* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: $background;
}

a {
    text-decoration: none;
}

a:visited {
    color: $fonts;
}

ul {
    list-style: none;
}

.btn-accion {
    background-color: $dark-blue;
    color: $background;
    width: 70%;
    height: 3rem;
    font-size: 1.5rem;
    margin: 0 15%;
    text-align: center;
    padding-top: 0.65rem;
    font-weight: bold;
}